.skill {
    width: 60vw;
}

.skill .description {
    background-color: #fff;
    border-radius: 8px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}

/* Mobile */
@media (max-width: 700px) {
.skill {
    width: 100vw;
    padding: 8px;
}
}